<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Custom Camera
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-row *ngIf="IMAGE_PATH">
    <ion-col>
      <img [src]="IMAGE_PATH" (click)="zoomImage(IMAGE_PATH)">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <video width="320" height="240" controls *ngIf="videoHasData">
        <source [src]="previewFile" type="video/mp4" >
       
      </video>
      <ion-button (click)="onClick(previewFile)" color="danger" shape="round">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-col *ngIf="videoHasData">
    <ion-button (click)="deleteVideo()" color="danger" shape="round">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col>
   
  </ion-col>
</ion-content>


<ion-content color="dark">


  <ion-grid>


    <ion-row>
      <ion-col>
        <ion-button color="success" (click)="startCamera()">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" (click)="stopCamera()">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="tertiary" (click)="switchCamera()" color="warning">
          <ion-icon name="camera-reverse-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" (click)="takePicture()">
          <ion-icon name="image-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="success" (click)="startRecord()">
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" (click)="stopRecord()">
          <ion-icon name="stop-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" (click)="allVideo()">
          <ion-icon name="folder-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-list>
          <button detail-none ion-item *ngFor="let track of tracks; let i = index;">

            <ion-item color="dark">

              <ion-label>
                <h5>{{track.title}}</h5>
              </ion-label>
              <ion-button (click)=" playAudio(track.src)" color="success">
                <ion-icon name="play-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="stopAudio(track.src)" shape="round" color="danger">
                <ion-icon name="pause-outline"></ion-icon>
              </ion-button>
            </ion-item>

          </button>
        </ion-list>
      </ion-col>
      <!-- -->
      <!-- <ion-col>
        <ion-button (click)="stopAudio()" shape="round" color="success">
          <ion-icon name="pause-outline"></ion-icon>
        </ion-button>
      </ion-col> -->

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="saveVideo()" shape="round">
          save video
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="saveImage()" shape="round">
          save image
        </ion-button>
      </ion-col>
      <!-- <img src="assets/audio/images.jpg" (click)="zoomImage1('/assets/audio/images.jpg')"/> -->
    </ion-row>



  </ion-grid>

</ion-content>